:root {
  --bg-gray: #f7f7f7;

  --fs-standard: 62.5%;
  --ff-primary: 'Open Sans', sans-serif;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-standard);
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  line-height: 1.6;
  letter-spacing: 0.01em;

  display: grid;
  grid-template-columns: 38rem auto;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 4px solid #ddd;
  grid-column: 1 / 2;
}

aside header {
  text-align: center;
  padding: 1.5rem;
  border-bottom: 1px solid black;
}

aside header h1 {
  font-size: 3.2rem;
  font-weight: 400;
}

#navbar {
  overflow-y: auto;
  height: 86%;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  padding: 1rem 3rem;
  border-bottom: 1px solid black;
}

#navbar ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: inherit;
}

#main-doc {
  grid-column: 2 / 3;
  padding: 2rem 0;
}

.main-section {
  max-width: 88rem;
  width: 96%;
}

.main-section h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 3rem;
}

.main-section p {
  margin: 2rem;
}

.main-section ul {
  margin-left: 8rem;
}

.main-section ul li {
  margin-bottom: 1.6rem;
}

.main-section ul li ul {
  margin-top: 2rem;
}

.main-section code {
  display: block;
  background: var(--bg-gray);
  text-align: left;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 816px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    position: static;
    width: auto;
    grid-column: 1;
  }

  #navbar {
    height: 22rem;
    border: 2px solid black;
  }

  #main-doc {
    grid-column: 1;
  }
}
